/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.google_login {
  /* border: 1px solid red; */
  width: 20%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 15px;
  box-sizing: border-box;
}

.user_detail_form {
  width: 40%;
  margin: auto;
  margin-top: 100px;
}

.table_div {
  width: 40%;
  margin: auto;
  margin-top: 50px;
  border: 1px solid red;
  justify-content: center;
}

.table_div td {
  border: 1px solid salmon;
  width: 5%;
}

.g_login_img {
  width: 80%;
  /* margin: auto; */
  margin-left: 10%;
  /* border: 1px solid darkblue; */
}